<div class="card">
  <h5 class="card-header" align="center">Music Player</h5>
</div>
<div class = "center">
    <div class="panel">
        <div class="card">
          <h5 class="card-header" align="center">{{ cancionActual.getTitle() }}</h5>
          <div align="center">
            <audio #player controls autoplay src='../../../assets/musica/{{cancionActual.getTitle()}}.mp3' type="audio/mp3" >
            </audio>
          </div>
        </div>
      </div>
    <button type="button" class="btn" (click)="retrocederCancion()">
      <input type="image" src="../../../assets/iconos/anterior.png" />
    </button>
    &nbsp;&nbsp;&nbsp;{{iterador.peekPrevious().getTitle()}}
    <br>
    <button type="button" class="btn" (click)="pasarCancion()">
        <input type="image" src="../../../assets/iconos/proximo.png" />
    </button>
    &nbsp;&nbsp;&nbsp;{{iterador.peekNext().getTitle()}}
</div>
