<div class="card">
  <h5 class="card-header" align="center">Music Player</h5>
</div>
<div class = "center">
    <div class="panel" align="center">
        <div class="card2">
          <h6 align="center" type="text" maxlength="10">
            <marquee behavior="scroll"  direction="left" >{{ cancionActual.getTitle() }}</marquee>
          </h6>
        </div>
    </div>
    <br>
    <div class="container" align="center" disabled>
      <audio #player controls autoplay src='../../../assets/musica/{{cancionActual.getTitle()}}.mp3' type="audio/mp3" >
      </audio>
    </div>
    <br>
    <div align="center">
      <div class="input-group-append" >
        <button type="button" class="btn" (click)="retrocederCancion()">
          <img src="../../../assets/iconos/anterior.png" />
        </button>
        &nbsp;&nbsp;&nbsp;
        <div class="form-control2">
          <marquee behavior="scroll" direction="left" >
            {{iterador.peekPrevious().getTitle()}}
          </marquee>
        </div>
      </div>
      <br>
      <div class="input-group-append">
        <button type="button" class="btn" (click)="pasarCancion()">
            <img src="../../../assets/iconos/proximo.png" />
        </button>
        &nbsp;&nbsp;&nbsp;
        <div class="form-control2">
          <marquee behavior="scroll" direction="left" >
            {{iterador.peekNext().getTitle()}}
          </marquee>
        </div>
      </div>
    </div>
