<div class = "center">
    <div class="panel">
        <div class="content">
          <div align="center">{{ cancionActual.getTitle() }}</div>
          <div align="center">
          <audio id="player" controls src='../../../assets/musica/{{cancionActual.getTitle()}}.mp3' type="audio/mp3" >
          </audio>
        </div>

        </div>
      </div>
    <button type="button" class="btn btn-outline-info" (click)="retrocederCancion()"><--</button>
    &nbsp;&nbsp;&nbsp;{{iterador.peekPrevious().getTitle()}}
    <br>
    <button type="button" class="btn btn-outline-info" (click)="pasarCancion()">--></button>
    &nbsp;&nbsp;&nbsp;{{iterador.peekNext().getTitle()}}
</div>
