<div class = "panel">
    <div class="form-group">
      <label for="exampleInput">Search Video
        <select class = "btn btn-secondary btn-sm dropdown-toggle" [(ngModel)]="implementacion" (change)="change($event)" [ngModelOptions]="{standalone: true}">
          <option value="0">KeyWord</option>
          <option value="1">Category</option>
          
          </select>
      </label>
      <input [(ngModel)]="keyword" name="keyword" class="form-control" id="exampleInput" placeholder="Keywords..."/>
      <small id="emailHelp" class="form-text text-muted">Enter the keyword you want to search for.</small>
    </div>
    <button type="button" class="btn btn-primary" (click)="getVideosList()">Search</button>
  </div>


<div class="ui four column grid">
  <div class="column" *ngFor="let video of videos">
    <div class="ui card">
      <div class="content">
        <a class="header" style="margin: 1em 0 1em 0;">{{ video.title }}</a>
        <div class="meta">
          <span class="ui right floated date" style="font-weight: bolder;">{{ video.publishedAt | date:'mediumDate' }}</span>
        </div>
        <div class="description">
          {{ video.description?.slice(0,100) }}...
        </div>
      </div>
    </div>
    <button class="btn btn-outline-dark" (click)="watchVideo(video)">
      <i class="external alternate icon"></i>
      Watch
    </button>
  </div>
</div>

