
  .center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }

  .form-group {
    margin-bottom: 1rem;
    margin-left: 2rem;
    margin-right: 2rem;
}

.btn-secondary {
  color: #fff;
  background-color: #17a2b8;
  border-color: #246873;
}