<div class="card">
  <h5 class="card-header" align="center">Search Video</h5>   
    <div class="card-body">
      <div class="container">
        <div class="input-group mb-3">
          <input [(ngModel)]="keywords"  name="keyword" class="form-control" id="exampleInput" placeholder="Keywords..."/>
          <div class="input-group-append">
            <button type="button" class="btn btn-outline-secondary" (click) = "buscar()">
              <i class="fa fa-search"></i>
            </button>
          </div>
          <div class="input-group-append">
            <select class = "btn btn-outline-secondary btn-sm dropdown-toggle" [(ngModel)]="implementacionSeleccionada" (change)="change($event)" [ngModelOptions]="{standalone: true}">
              <option value="0">Title</option>
              <option value="1">ID</option>
            </select>
          </div>
        </div>
      </div>
    </div>
</div>


<div class="grid-container">
  <div class="grid-item" *ngFor="let coincidente of getCoincidentes()">
    <div class="ui card">
      <div class="content">
        <h6 class="card-header" align="center">{{ coincidente.getTitle() }}</h6>
        <div class="meta">
          <span class="ui right floated date" style="font-weight: bolder;">ID: {{ coincidente.getId() }}</span>
        </div>
      </div>
    </div>
    <br>
    <div align = "center">
      <button class="btn btn-outline-dark" (click)="watch(coincidente)">
        <i class="external alternate icon"></i>
        Watch
      </button>   
      <button type="button" class="btn btn-danger" (click) = "borrar(coincidente)">Delete</button>
    </div>
  </div>
</div>

