<form>
    <div class="form-group">
        <label for="exampleInput">Search Video
            <select class = "btn btn-secondary btn-sm dropdown-toggle" [(ngModel)]="implementacion" (change)="change($event)" [ngModelOptions]="{standalone: true}">
              <option value="0">Title</option>
              <option value="1">ID</option>
              
              </select>
        </label>
      <input name="keyword" class="form-control" id="exampleInput" placeholder="Keywords..."/>
      <small id="emailHelp" class="form-text text-muted">Enter the keyword you want to search for.</small>
    </div>
    <button type="button" class="btn btn-primary" (click) = "buscar()">Search</button>
</form>


<div class="ui four column grid" *ngFor="let coincidente of listaCoincidentes">
    <button class="btn btn-outline-dark" (click)="watch(coincidente)">
      <i class="external alternate icon"></i>
      Watch
    </button>
</div>